.home__wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.home__text{
    font-size: 16px;
    color: #151515;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    margin: 30px 0;
}

.home__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 30px 0;
    margin: 0;
}

.home__list-item{
    flex: 1 1 33%;
    min-width: 0px;
    transition: all .3s;
    opacity: .75;
}

.home__list-item:hover{
    transform: translate3d(0, -25px, 0);
    opacity: 1;
}

.home__list-link{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    height: 330px;
}

.home__list-img{
    max-width: 125px;
    margin: 0 auto;
}

.home__list-title{
    font-size: 16px;
    color: #151515;
    font-weight: 600;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
}

@media(max-width: 520px){
    .home__list-item{
        flex: 1 1 100%;
    }
}