html, body, #root, .App {
    height:100%;
}

body{
    margin: 0;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.App{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

img{
    max-width: 100%;
    display: block;
}