.result__go-back{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #151515!important;
    padding: 20px;
    font-weight: 600;
}

.result__go-back:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAulBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACrJGrzAAAAPXRSTlMAAQIDBQYJChARFB0fICIkNzo7PD4/QERFVFVYX31/gYadn6Cho6anqaqrrbC2w8jL3t/l7vDy9ff5+/z+PX5mUAAAAK9JREFUeAGt0OkOwUAQwPGhiqLug6LqUNZ9UEfN+7+WbJlkN9nMF/7fNr/sJDPwt1xWvZDVp2AVBasoWEXBKMP9GGWXtd+2zUpFsxajsn2XUdmqwCniuUo8R1NR88vWwui3Drn5/7XM+8Hm5wdAHqJMZJ1SYxDsHh++F3Wnm+d622TbMahOLKssX4ixqzlxUv2E6IPqGkN+g8eU6jqDNcGa+vRALz0dAldmBGwO/NQbg05AX+RZaDYAAAAASUVORK5CYII=");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.result__wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.result__list{
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
}

.result__item{
    flex: 0 1 25%;
    min-width: 0px;
    padding: 15px;
    transition: all .3s;
}

.result__item-link{
    text-decoration: none;
}

.result__item-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.result__item-image img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
}

.result__item-name{
    color: #151515;
    font-weight: 600;
    text-align: center;
}

.result__header{
    margin: 30px 0;
}

@media(max-width: 767px){
    .result__item{
        padding: 0px;
        flex: 0 1 33%;
    }
}

@media(max-width: 520px){
    .result__item{
        flex: 0 1 50%;
    }
}

@media(min-width: 991px){
    .result__item{
        opacity: .75;
    }
    
    .result__item:hover{
        transform: translate3d(0, -25px, 0);
        opacity: 1;
    }    
}