.result__go-back{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #151515!important;
    padding: 20px;
    font-weight: 600;
}

.result__go-back:before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAulBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACrJGrzAAAAPXRSTlMAAQIDBQYJChARFB0fICIkNzo7PD4/QERFVFVYX31/gYadn6Cho6anqaqrrbC2w8jL3t/l7vDy9ff5+/z+PX5mUAAAAK9JREFUeAGt0OkOwUAQwPGhiqLug6LqUNZ9UEfN+7+WbJlkN9nMF/7fNr/sJDPwt1xWvZDVp2AVBasoWEXBKMP9GGWXtd+2zUpFsxajsn2XUdmqwCniuUo8R1NR88vWwui3Drn5/7XM+8Hm5wdAHqJMZJ1SYxDsHh++F3Wnm+d622TbMahOLKssX4ixqzlxUv2E6IPqGkN+g8eU6jqDNcGa+vRALz0dAldmBGwO/NQbg05AX+RZaDYAAAAASUVORK5CYII=");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}