.header{
    background: #151515;
    position: relative;
    padding: 15px;
}

.header__logo{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
    z-index: 1;
    position: relative;
}

.header__background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .3;
    background-image: url("../../assets//img/bg-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}